clone_depth: 10

version: "{build}"

environment:
  matrix:
    - nodejs_version: "6"
      platform: x64
    - nodejs_version: "8"
      platform: x64
    - nodejs_version: "10"
      platform: x64

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install

test_script:
  - node --version && npm --version
  - npm test

build: off

matrix:
  fast_finish: true

cache:
  - node_modules -> appveyor.yml,package.json,package-lock.json
