/*** uncss> filename: tests/fixtures/adjacent.css ***/

/*** uncss> filename: tests/fixtures/child.css ***/

h1 > span {
  color: crimson;
}

/*** uncss> filename: tests/fixtures/classes.css ***/

.blue {
  color: blue;
}

/*** uncss> filename: tests/fixtures/elements.css ***/

body {
  font-size: 100%;
}

h1 {
  font-size: 2rem;
}

span {
  display: block;
}
