.once {
  color: orange;
  background: url('image.png');
}

.twice {

}

.never {
  
}

.never {
  color: #000;
}

.never .indeed {

}

#pretty .long .selector div[^class=some] li:nth-child(5) {
  
}
